header{
    text-align: center;
    color: #fff;
    background-color: #1F2344;
    width: 100%;
    font-family: "Montserrat", Sans-serif;
}

body{
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.tabeladisciplinas{
    text-align: center;
    margin: 0 auto;
    width: 0 auto !important;
    margin: 0 auto;
    display: inline-table;
}


ul {
    text-align: center;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1F2344;
}

button {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    fill: #1F2344;
    color: #1F2344;
    background-color: #EFCB0C;
    border-radius: 0px 0px 0px 0px;
}

.rodapé {
    padding: 0px 0px 0px 25px;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    border-color: #EFCB0C;
}