.container {
  max-width: 60vw;
  margin: 0 auto;
  background: var(--branco);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label, input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

input {
  padding: 8px;
}

button {
  padding: 10px;
  background-color: var(--cor-btn);
  color: var(--branco);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--cor-btn-hover);
}

.result {
  margin-top: 20px;
  padding: 10px;
  background: var(--branco);
  border-left: 5px solid var(--cor-btn-hover);
}

#beamCanvas {
  display: block;
  margin: 20px auto;
  border: 1px solid var(--branco);
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}